@media print{}

@page{
	size: 100mm 15mm;
	margin: 0;
}

html, body{
	width: 100mm;
	margin: 0;
	height: auto;
	background: brown;
}

.barcode_list{
  width: 100mm;
}

.barcode_list tr{
  height: 10mm;
}

.barcode_list td{
  width: 50mm;
  height: 100%;
}