body{
  background-color: #f9f9f9;
  padding: 5px;
}

main .card{
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12),0 1px 5px 0 rgba(0,0,0,.2);
  margin-bottom: 13px;
}

.action-buttons{
  display: flex;
}

.table_container{
  font-size: 0.7em;
  overflow-x: auto;
}

.card .wrapper{
  position: relative;
}

.card .wrapper input[type=checkbox]{
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.card .wrapper input[type=checkbox] + label{
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;

  display: inline-block;
  opacity: 1;
  margin: 0em 0.25rem 0em 0em;
  width: 1.18em;
  height: 1em;
  font-family: 'Icons';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  font-size: 1.3em;
}

.card .wrapper input[type=checkbox] + label::before{
  content: "\f067";
}

.card .wrapper input[type=checkbox]:checked + label::before{
  content: "\f068"
}

.card .wrapper input[type=checkbox] + label + div,
.card .wrapper input[type=checkbox] + label + form{
  display: block;
}

.card .wrapper input[type=checkbox]:checked + label + div,
.card .wrapper input[type=checkbox]:checked + label + form{
  display: none;
}

/* begin: Ascending Serial Counter */
table.asc-serial-counter{
  counter-reset: AscendingSerial;
}

table.asc-serial-counter tbody tr td:first-child:before{
  counter-increment: AscendingSerial;
  content: counter(AscendingSerial);
}
/* end: Ascending Serial Counter */

/* begin: Descending Serial Counter */
table.dsc-serial-counter{
  counter-reset: DescendingSerial 0;
}

table.dsc-serial-counter tbody tr td:first-child:before{
  content: counter(DescendingSerial);
  counter-increment: DescendingSerial -1;
}
/* end: Descending Serial Counter */

#scanner{
  height: 150px;
  overflow: hidden;
  padding: 0px;
}

#scanner_form .inline.fields{
  margin-bottom: 0px;
}

#scanner_form .inline.fields .twelve.wide.field{
  padding-right: 0px;
}

#barcode.icon{
  position: relative;
  border-bottom: 2px solid;
  text-align: center;
  color: #E03997;
  font-size: 25px;
  cursor: pointer;
}

#barcode.icon.strike::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transform-origin: left;
  transform: rotate(35deg);
}

td i{
  cursor: pointer;
}