.card .wrapper,
.segment{
    position: relative;
}

.card .wrapper input[type=checkbox],
.segment input[type=checkbox]{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.card .wrapper input[type=checkbox] + label,
.segment input[type=checkbox] + label{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

    display: inline-block;
    opacity: 1;
    margin: 0em 0.25rem 0em 0em;
    width: 1.18em;
    height: 1em;
    font-family: 'Icons';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    text-align: center;
    font-size: 1.3em;
}

.card .wrapper input[type=checkbox] + label::before,
.segment input[type=checkbox] + label::before{
    content: "\f067";
}

.card .wrapper input[type=checkbox]:checked + label::before,
.segment input[type=checkbox]:checked + label::before{
    content: "\f068"
}

.card .wrapper input[type=checkbox] + label + div{
    display: block;
}

.card .wrapper input[type=checkbox]:checked + label + div{
    display: none;
}

.segment.red > input[type=checkbox] + label{
    color: #DB2828;
}

.segment.green > input[type=checkbox] + label{
    color: #21BA45;
}

.segment.blue > input[type=checkbox] + label{
    color: #2185D0;
}

.segment input[type=checkbox] + label + .card,
.segment input[type=checkbox] + label + .card + .card{
    display: block;
}

.segment input[type=checkbox]:checked + label + .card,
.segment input[type=checkbox]:checked + label + .card + .card{
    display: none;
}

td i{
    cursor: pointer;
}


table#sale-summary tbody tr:first-child{
    counter-reset: Serial;
}

table#sale-summary tbody tr td:first-child:before{
  counter-increment: Serial;
  content: counter(Serial);
}

table#sale-list{
    counter-reset: AnotherSerial;
}

table#sale-list tbody tr td:first-child:before{
    counter-increment: AnotherSerial;
    content: counter(AnotherSerial);
}

table#sale-list.desc-serial{
    counter-reset: DescendingSerial 0;
}

table#sale-list.desc-serial tbody tr td:first-child:before{
    content: counter(DescendingSerial);
    counter-increment: DescendingSerial -1;
}

.ui.modal .actions > .button{
    margin-top: 6px;
}