#ErrorDocument 403 http://%{HTTP_HOST}/ambati_sms/v2/index.html?error=403
#ErrorDocument 404 http://%{HTTP_HOST}/ambati_sms/v2/index.html?error=404
#ErrorDocument 500 http://%{HTTP_HOST}/ambati_sms/v2/index.html?error=50